<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
  <h2><%= title %></h2>
  <form action="/update" method="post">
        <input type="hidden" value="<%= employee.EmpID %>" name="id">
        <div class="form-group">
            <label for="name">Name:</label>    
            <input type="text" name="name" value="<%= employee.Name %>" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="salary">Salary:</label>    
            <input type="text" name="salary" value="<%= employee.Salary %>" class="form-control" id="salary">
        </div>
        <div class="form-group">
            <label for="age">College:</label>    
            <input type="text" name="age" value="<%= employee.Age %>" class="form-control" id="age">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
 
</body>
</html>
